--
-- PostgreSQL database dump
--

\restrict ma1cTS92pTRSBVVk3N8cFomKPHQTQLxUYa3DRGzVJv7RU1ule5zdgg3zwDz88Ig

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: support_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO support_user;

--
-- Name: attachments; Type: TABLE; Schema: public; Owner: support_user
--

CREATE TABLE public.attachments (
    id integer NOT NULL,
    ticket_id integer NOT NULL,
    filename character varying(255) NOT NULL,
    saved_name character varying(255) NOT NULL,
    mimetype character varying(100),
    size integer,
    created_at timestamp without time zone
);


ALTER TABLE public.attachments OWNER TO support_user;

--
-- Name: attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: support_user
--

CREATE SEQUENCE public.attachments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attachments_id_seq OWNER TO support_user;

--
-- Name: attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: support_user
--

ALTER SEQUENCE public.attachments_id_seq OWNED BY public.attachments.id;


--
-- Name: comments; Type: TABLE; Schema: public; Owner: support_user
--

CREATE TABLE public.comments (
    id integer NOT NULL,
    ticket_id integer NOT NULL,
    author character varying(100) NOT NULL,
    text text NOT NULL,
    is_internal boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.comments OWNER TO support_user;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: support_user
--

CREATE SEQUENCE public.comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comments_id_seq OWNER TO support_user;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: support_user
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: support_user
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    ticket_number character varying(20) NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    user_name character varying(100) NOT NULL,
    user_email character varying(120) NOT NULL,
    user_phone character varying(30),
    department character varying(100),
    category character varying(50) NOT NULL,
    priority character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    assigned_to character varying(100),
    resolution text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    closed_at timestamp without time zone
);


ALTER TABLE public.tickets OWNER TO support_user;

--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: support_user
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tickets_id_seq OWNER TO support_user;

--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: support_user
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: attachments id; Type: DEFAULT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.attachments ALTER COLUMN id SET DEFAULT nextval('public.attachments_id_seq'::regclass);


--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: support_user
--

COPY public.alembic_version (version_num) FROM stdin;
5df3773ce82a
\.


--
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: support_user
--

COPY public.attachments (id, ticket_id, filename, saved_name, mimetype, size, created_at) FROM stdin;
3	18	document.txt	5ba3ba80bd4347c8b07a72ef478d6509.txt	text/plain	43	2026-03-08 14:45:59.83619
4	18	docx	651afecfbd8b4306acc7dc93a587ecea	application/vnd.openxmlformats-officedocument.wordprocessingml.document	12970	2026-03-09 12:01:58.426733
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: support_user
--

COPY public.comments (id, ticket_id, author, text, is_internal, created_at) FROM stdin;
6	18	╤Л╨┐╨░╨▓	╨▓╤Л╨┐╨░╨▓	f	2026-03-09 12:01:58.402502
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: support_user
--



--
-- Name: attachments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: support_user
--

SELECT pg_catalog.setval('public.attachments_id_seq', 4, true);


--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: support_user
--

SELECT pg_catalog.setval('public.comments_id_seq', 6, true);


--
-- Name: tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: support_user
--

SELECT pg_catalog.setval('public.tickets_id_seq', 19, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_ticket_number_key; Type: CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_ticket_number_key UNIQUE (ticket_number);


--
-- Name: attachments attachments_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id);


--
-- Name: comments comments_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: support_user
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ma1cTS92pTRSBVVk3N8cFomKPHQTQLxUYa3DRGzVJv7RU1ule5zdgg3zwDz88Ig

